*{
	text-decoration: none;
}
.navbar{
		padding-right: 15px;
		padding-left: 15px;
}
.navdiv{
		display: flex;
		align-items: center;
		justify-content: space-between;
}
.logo a{
		font-size: 35px;
		font-weight: 600;
		color: white;
}
li{
		list-style: none;
		display: inline-block;
}
li a{
		color: white;
		font-size: 18px;
		font-weight: bold;
		margin-right: 25px;
}
button{
		background-color: black;
		margin-left: 10px;
		border-radius: 10px;
		padding: 10px;
		width: 90px;
}
button a{
		color: white;
		font-weight: bold;
		font-size: 15px;
}
li a:hover{
	color: violet;
}
header{
	background-image: url("images.jpeg");
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.first{
	width: 1300px;
	height: 510px;
	text-align: center;
	font-size: 50px;
	color: royalblue;

}
.hi{
	color: white;
}
button{
	width: 150px;
	height: 66px;
	background-color: darkcyan;
}
.img{
	content-visibility: hidden;
	width: 100px;
}
@media screen and (max-width: 428px) {
	*{
	text-decoration: none;
}
body{
	padding: 0px;
	background-color: #daedf0;
	height: 1000px;
}
.navbar{
		padding-right: 15px;
		padding-left: 15px;
		height: 100px;
}
.navdiv{
		display: flex;
		align-items: center;
		justify-content: space-between;
}
.logo a{
		font-size: 25px;
		font-weight: 600;
		color: brown;
}
.link{
	margin-left: 57px;
}
li{
		list-style: none;
		display: inline-block;
}
li a{
		color: brown;
		font-size: 18px;
		font-weight: bold;
		margin-right: 25px;
}
button{
		background-color: black;
		margin-left: 10px;
		border-radius: 10px;
		padding: 10px;
		width: 90px;
}
button a{
		color: white;
		font-weight: bold;
		font-size: 15px;
}
li a:hover{
	color: violet;
}
header{
	background-image: none;
	background-color: #daedf0;
}
.first{
	margin-left: 10px;
	width: 50vh;
	height: 1000px;
	text-align: center;
	font-size: 17px;
	color: royalblue;

}
.hi{
	margin-top: 57px;
	color: brown;
}
button{
	margin-top: 81px;
	width: 150px;
	height: 66px;
	background-color: darkcyan;
}
.img{
	content-visibility: visible;
	width: 100px;
}
img{
	height: 200px;
	margin-bottom: 0px;
	padding: 0px;
}